<%- include("rotulo")%>

<div class="container2">
   
<% for (var i =0; i < producto.length;  i++ ) { 
           
            
    
    %>
    <button class="btn btn-outline-dark border" onclick="consultar('<%=i%>','<%=producto[i][2]%>')">
    <div class="container" >
      
        
        <h1><%=producto[i][0]%></h1> 
        <img src="../imagenes/<%=producto[i][4]%>"  id="foto">
        <p><%=producto[i][1]%></p>
        <h6>$<%=producto[i][3]%></h6>
   
       <h1 class="cont1"></h1>
   

     </div>
     </button>
      
    <% } %>
  
</div>

